#game-board {
  max-width: 600px;

  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #f8f9fa;
  border: 2px solid #6c757d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.card.flip {
  background-color: #198754; /* Muda cor ao virar */
  color: #fff;
  font-weight: bold;
}

button{
  display: flex;
  align-items: center;
}

